/* Retire l'espacement des coins de la page  */

body {
    margin: 0;
    padding: 0;
}


/*  */

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    border-bottom: 3px solid black;
    background-color: orange;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }
}

nav {
    text-decoration: none;
    background-color: grey;
    box-shadow: 0px 5px 5px black;
    margin-top: -16px;
}


/* Retire les points de la liste non ordonnée */

ul {
    list-style-type: none;
    padding: 0px;
}


/* Aligne la liste non ordonnée sur une même ligne */

ul a li {
    display: inline-block;
    padding: 10px;
}

ul a li:hover {
    background-color: purple;
}

ul a li {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none;
}

/* Fait disparaitre le lien "Menu" */

#linksView {
    display: none;
}


/* Fait apparaitre le lien menu et fait disparaitre les liens du menu */

@media screen and (max-width: 1160px) {
    #link {
        display: none;
    }
    #linksView {
        display: block;
    }
}

footer {
    background-color: grey;
    padding: 5px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;
}


/* test */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    padding: 12px;
    z-index: 1;
    border: 1px solid black;
}

.dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#formAdd {
    float: right;
}
.liDropdown{
    display: block;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.element{
    width: 40%;
}
.text-center{
    text-align: center;
}
.readNote{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formUpdateNote{
    display: none;
}