/* ---------------------------------------------------------------------Corps */


/* Footer en bas de page */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Courier New;
    /* Footer en bas de page */
    display: table;
    width: 100%;
    /* background-color: #6c455b;*/
}


/* --------------------------------------------------------------------Footer */

footer {
    background-color: grey;
    padding: 5px;
    text-align: center;
    border-top: 2px solid black;
    /* Footer en bas de page */
    width: 100%;
    display: table-row;
    height: 50px;
}


/* -------------------------------------------------------------------En-tête */

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    border-bottom: 3px solid black;
    background-color: black;
    color: orange;
}


/* ----------------------------------------------------------------------MENU */

nav {
    text-decoration: none;
    background-color: grey;
    box-shadow: 0px 5px 5px black;
    margin-top: -16px;
}


/* Retire les points de la liste non ordonnée */

ul {
    list-style-type: none;
    padding: 0px;
}


/* Aligne la liste non ordonnée sur une même ligne */

ul a li {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a {
    text-decoration: none;
}

nav li:hover {
    color: orange;
}


/* Fait disparaitre le lien "Menu" */

#linksView {
    display: none;
}

.liDropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    padding: 12px;
    z-index: 1;
    border: 1px solid black;
    width: 190px;
}

.dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* --------------------------------------------------------------------Classe */

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}


/* Couleur */

.teal {
    color: Teal;
}

#formAdd {
    float: right;
}


/* --------------------------------------------------------------------VUES */

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.element {
    width: 40%;
}

.readNote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.notesViews {
    border: 10px groove darkred;
    min-width: 400px;
    min-height: 400px;
}

.fullBlockNoteView {
    margin-bottom: 2%;
}

#search {
    width: 50%;
}

#submitSearch {
    max-width: 100px;
}

.blocDescription {
    overflow: scroll;
    height: 450px;
}


/* -------------------------------------------------------------MEDIA QUERIES */


/* Fait apparaitre le lien menu et fait disparaitre les liens du menu */

@media screen and (max-width: 1160px) {
    #link {
        display: none;
    }
    #linksView {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }
}


/* test */

ul.box {
    position: relative;
    /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
}

ul.box li {
    float: left;
    min-width: 400px;
    min-height: 400px;
    background-color: #E2BC74;
    padding: 5px;
}

.corner:before {
    content: "";
    position: absolute;
    border-bottom: 30px solid #FFFFA5;
    border-left: 30px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* bouton */

.buttonUpdate {
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(30, 22, 54, 0.7);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

.buttonUpdate:hover {
    box-shadow: rgba(30, 155, 54, 0.7) 0 0px 0px 40px inset;
}

.buttonDelete {
    color: rgba(255, 255, 245, 0.85);
    float: right;
    background-color: rgba(30, 22, 54, 0.7);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

.buttonDelete:hover {
    box-shadow: rgba(187, 18, 18, 0.7) 0 0px 0px 40px inset;
}

.button {
    color: rgba(255, 255, 245, 0.85);
    background-color: rgba(30, 22, 54, 0.7);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

.searchBar {
    background-color: white;
    box-shadow: none;
    color: black;
    border: 2px solid black;
    padding: 20px 30px;
    border-radius: 4px;
}

.button:hover {
    box-shadow: rgba(0, 255, 255, 0.5) 0 0px 0px 40px inset;
    color: black;
}


/* Titre principale */

.titleStyle {
    font-size: 30px;
    padding: 20px;
    margin-bottom: 2%;
    color: orange;
    background-color: #303030;
    margin-top: -10px;
}

.alert-danger {
    background-color: pink;
    color: red;
    width: 400px;
}

.alert-success {
    background-color: greenyellow;
    color: green;
    width: 400px;
}

#blocLinkFooter ul a li:hover {
    color: orange;
}

#listSection {
    background: #303030;
    color: orange;
    border-radius: 15px;
}

.formUpdateNote {
    width: 100%;
    display: none;
}